.counts {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    
}

.count {
    width: 25%;
   
    
    
}



.counts__text {
    display: inline;
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;    
}

.counts__img {
    background: #fff;
    border-radius: 100%;;
    padding: 15px;
    
}

.count1 {
    background:#80d8ff;
    padding: 40px 0px;
    align-items: center;
    
    
}
.count2 {
    background:#82b1ff;
    padding: 40px 0px;
}

.count3 {
    background:#b388ff;
    padding: 40px 0px;
}

.count4 {
    background:#ea80fc;
    padding: 40px 0px;
}

