.team {
    text-align: center;
    width: 555px;
    
}
.team__container {
    justify-content: center;
    text-align: center;
    display: flex;
    padding-right: 0;
}
.team__h2 {
    font-size: 45px;
    line-height: 1.2;
    font-weight: 600;
    color: #061e37;
    margin-bottom: 30px;
}

.team__p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #b0bec5;
    padding-bottom: 90px;
}


.avatar:hover {
    opacity: 1;
    width: 163px;
    transition:  2s ease;
}

.team__name {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #061e37;
    
}

.team__text {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #90a4ae;
}

.avatar + .avatardroptext{
    display:none;
}
.avatar:hover + .avatardroptext{
    display:block;
}

.avatars {
    justify-content: center;
    text-align: center;
    display: flex;
    
}

.avatar {
    width: 100px;
    opacity: 0.2;
    z-index: 2;
    margin-bottom: 65px;
}

.avatar__info:nth-child(3) {
    padding-right:0;
}

.avatar__info {
    padding-right:45px;

}

.avatardroptext {
    width: 600px;
    z-index: 1;
}

/* фикс картинок */